* text eol=lf

# Denote all files that are truly binary and should not be modified
*.ttf binary
*.png binary
*.webp binary
*.woff binary
*.pdf binary
*.ppt binary
*.pptx binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
